body {
	background-color: white;
	color: #333;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 0 0 6em 0;
}

b, strong {
	font-weight: 600;
}

#content, header, footer {
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 18px;
}

body > div p {
	line-height: 1.8em;
}

p a {
	color: #CC0000;
	text-decoration: none;
}

p a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 64px;
	margin: 0.4em 0 0 0;
}

h2 {
	font-size: 49px;
	margin: 0.7em 0 0.3em 0;
}

header > p {
	margin: .8em 0 1.8em 0;
}

#tableWrapper {
	text-align: center;
	background-color: #2A2A2A;
	width: 100%;
	border-top: 10px solid #2A2A2A;
	border-bottom: 10px solid #2A2A2A;
}

table {
	display: inline-table;
	border-spacing: 0;
	width: 100%;
	max-width: 1500px;
	color: #CCC;
}

td, th {
	border: 2px solid #2A2A2A;
}

td {
	width: 10%;
	position: relative;
}

th {
	background-color: #3A3A3A;
	font-weight: normal;
	padding: 12px;
}

tbody th {
	text-align: left;
	padding: 0 12px;
}

td a {
	display: block;
	width: 100%;
	height: 60px;
	-webkit-transition: all 2s;
}

.yes {
	background: #5AE100;
	background: -webkit-linear-gradient(#5AE100, #35AF01);
	background: linear-gradient(#5AE100, #35AF01);
}

.yes:hover {
	background: rgb(121, 255, 180);
	background: -webkit-linear-gradient(rgb(121, 255, 180), rgb(63, 226, 96));
	background: linear-gradient(rgb(121, 255, 180), rgb(63, 226, 96));
}

.yes-key {
	color: #35AF01;
	font-weight: 600;
}

.kinda {
	background: #FFCC00;
	background: -webkit-linear-gradient(#FFCC00, #FD8602);
	background: linear-gradient(#FFCC00, #FD8602);
}

.kinda:hover {
	background: rgb(255, 252, 171);
	background: -webkit-linear-gradient(rgb(255, 252, 171), rgb(241, 218, 50));
	background: linear-gradient(rgb(255, 252, 171), rgb(241, 218, 50));
}

.kinda-key {
	color: #FD8602;
	font-weight: 600;
}

.footnotes {
	border-top: 1px solid #CCC;
	font-size: 13px;
	padding-top: 3em;
	margin-top: 3em;
}

ul.browsers {
	padding: 0;
	list-style-type: none;
}

ul.browsers li {
	padding-left: 100px;
	min-height: 90px;
}

.chrome { background: url('img/chrome.png') no-repeat top left; }
.opera { background: url('img/opera.png') no-repeat top left; }
.ie { background: url('img/ie.png') no-repeat top left; }
.firefox { background: url('img/firefox.png') no-repeat top left; }
.safari { background: url('img/safari.png') no-repeat top left; }

.specs li, .footnotes li {
	margin-bottom: 1em;
}

.key {
	background-color: #EEE;
	text-align: center;
	margin: 0 0 1.5em 0;
	padding: 1em;
	border-bottom: 1px solid #DDD;
}

/* Responsive data tables approach adapted from Chris Coyier http://css-tricks.com/responsive-data-tables/ */
@media (max-width: 820px) {
	h1 {
		font-size: 42px;
	}

	h2 {
		font-size: 28px;
	}

	table, thead, tbody, tr, td, th {
		display: block;
	}

	#tableWrapper {
		background-color: transparent;
		border: none;
	}

	thead {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tbody th {
		margin-top: 24px;
		text-align: center;
		width: 99%;
		padding: 12px 0;
	}

	tbody tr:first-child th {
		margin-top: 0;
	}

	td {
		width: 99%;
		min-height: 50px;
		padding: 0;
	}

	td::before {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 30%;
		background-color: #333;
		padding: 16px 0 0 12px;
		text-align: left;
	}

	td:nth-child(2)::before { content: 'Explained'; }
	td:nth-child(3)::before { content: 'Specced'; }
	td:nth-child(4)::before { content: 'Polyfill'; }
	td:nth-child(5)::before { content: 'Code'; }
	td:nth-child(6)::before { content: 'Behind Flag'; }
	td:nth-child(7)::before { content: 'Dev/Beta'; }
	td:nth-child(8)::before { content: 'Released!'; }
	td:nth-child(9)::before { content: 'X-Browser'; }
} 